# =============================================
# ESP32 Smart Environmental Monitor
# Dependencias del Proyecto (Auditadas)
# =============================================

# --- Notebook Spark (Evaluación Sumativa) ---
pyspark
pandas
requests
findspark
pymongo

# --- Scripts Python Locales (serial_reader / generar_reporte) ---
pyserial
mysql-connector-python
matplotlib
